# Python

**pycache**/
*.pyc

# Linux

*.swp
*.tmp

# VS Code

.vscode/

# Fastfetch local config

.config/

# Logs

*.log

# Environment files

.env



.venv/
__pycache__/
*.pyc

data/scan.xml
data/*.xml

